@charset "UTF-8";

@font-face {
  font-family: "betm";
  src: url(../fonts/betm/BetmLight.otf) format("opentype");
}

@font-face {
  font-family: "betmBold";
  src: url(../fonts/betm/BetmBold.otf);
}

:root {
  --btnColor: #1fa054;
  --colorVariation: #ff7a18;
  --backGround: #ffffff;
  --textColorW: #ffffff;
  --textColorB: #0b0b0b;
  --shadow: #f3f3f3;

  --fontRegular: "betm";
  --fontBold: "betmBold";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fontRegular);
}

body {
  font-family: monospace;
  background: var(--backGround);
  color: var(--textColorB);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.card {
  width: min(510px, 100%);
  background: var(--backGround);
  border-radius: 16px;
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.15);
  padding: 2rem 2.2rem;
  text-align: center;
}

h1 {
  color: var(--textColorB);
  font-size: 2.8rem;
  margin-bottom: 0.8rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  font-family: var(--fontBold);
}
h2{
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1.1rem;
}

p {
  color: #2a2a2a;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.conversion-selection {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.conversion-selection h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--textColorB);
}

.option {
  display: inline-block;
  width: 45%;
  padding: 1rem;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  color: var(--textColorW);
  font-size: 1.2rem;
  transition: transform 0.2s ease;
  position: relative;
}

.option:hover {
  transform: translateY(-2px);
}

.option.caixas {
  background: var(--btnColor);
  z-index: 2;
  left: 25px;
}

.option.milheiro {
  background: var(--colorVariation);
  position: relative;
  left: -25px;
  z-index: 1;
}

.option input[type="radio"] {
  display: none;
}

.option input[type="radio"]:checked + span {
  font-weight: bold;
}

.start-btn {
  width: 90%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* gap: 0.65rem; */
  padding: 0.9rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: var(--colorVariation);
  color: var(--textColorW);
  font-size: 1.3rem;
  font-weight: 500;
  transition:
    transform 0.18s ease,
    box-shadow 0.18s ease;
}

.start-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25);
}

.start-btn:active {
  transform: translateY(0);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 1rem;
  color: #434343;
  font-size: 0.9rem;
}
